
<hr>

  <div>
    <h3>Followers</h3>
    <table border="1">


      <% @follower_list.each do |a_fit| %>
      <tr>

        <td>
        <a href="/profile/<%= a_fit.sender.id %>">
        <%= a_fit.sender.username%> 
        </td>
        <td>
         <img src= "<%= a_fit.sender.user_profile_pic%>" class="pfp_other">
        </td>
        <td>
         <a href="/delete_moots_request/<%= a_fit.id%>">
        remove follower
        </td>
       </tr>
      <% end %>
    </table>
 </div>

<hr><div>
    <h3>Following</h3>
    <table border="1">


      <% @followed_list.each do |b_fit| %>
      <tr>

        <td>
        <a href="/profile/<%= b_fit.recipient.id %>">
        <%= b_fit.recipient.username%>
        </td>
        <td>
         <img src= "<%= b_fit.recipient.user_profile_pic%>" class="pfp_other">
        </td>
               <td>
         <a href="/unfollow/<%= b_fit.id %>">
        unfollow
        </td>
       </tr>
      <% end %>
    </table>
  </div>

<hr>
