
<hr>
<div>
  <div>
    <h3>Followers</h3>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
         sender_id
        </th>

        <th>
          follower
        </th>

      </tr>

      <% @follower_list.each do |a_fit| %>
      <tr>
        <td>
          <%= a_fit.id %>
        </td>
        <td>
        <a href="/profile/<%= a_fit.sender.id %>">
        <%= a_fit.sender.username%>
        </td>
        <td>
         <img src= "<%= a_fit.sender.user_profile_pic%>" class="img-responsive">
        </td>
       
       </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
    <h3>Following</h3>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
         sender_id
        </th>

        <th>
          follower
        </th>

      </tr>

      <% @followed_list.each do |b_fit| %>
      <tr>
        <td>
          <%= b_fit.id %>
        </td>
        <td>
        <a href="/profile/<%= b_fit.recipient.id %>">
        <%= b_fit.recipient.username%>
        </td>
        <td>
         <img src= "<%= b_fit.recipient.user_profile_pic%>" class="img-responsive">
        </td>
       
       </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
