<img src= "<%= @current_user.user_profile_pic %>" class="img-responsive">
<div>
  <div>
       <h1>
      my closet
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
 <a href="/add_clothing">
    <i class="fa-thin fa-plus" alt="Add a new fit"> </i>
 

      <button>
        add a new fit</button>
    </a>
    
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          fit
        </th>

        <th>
          description
        </th>

        <th>
          Created at
        </th>

        <th>
        </th>
              </tr>

      <% @my_fits.each do |a_my_closet| %>
      <tr>
       
        <td>
          <img src = "<%= a_my_closet.clothing %>" class="img-responsive">
        </td>

        <td>
          <%= a_my_closet.caption %>
        </td>

        <td>
          <%= time_ago_in_words(a_my_closet.created_at) %> ago
        </td>

        <td>
          <a href="/my_closets/<%= a_my_closet.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<h3>pending follow requests</h3>
    <table border="1">
      <tr>
        <th>
          username
        </th>

        <th>
          description
        </th>

        <th colspan ="2">
          
              </tr>

      <% @mutualr.each do |a_thing| %>
      <tr>
      <td>
        <%= a_thing.sender.username %></a>
      </td>

      <td>
          <img src = "<%= a_thing.sender.user_profile_pic %>" class="img-responsive">
      </td>
      <td>
      <form action ="/modify_moots_request/<%= a_thing.id%>" method = "post">
      <input id="query_recepient_id" type= "hidden" value=<%=a_thing.recipient_id%> name="query_recipient_id">
      <input id="query_sender_id" type= "hidden" value=<%=a_thing.sender_id%> name="query_sender_id">
         <button>accept</button>
        </form> 
      </td>
      
      <td>
      <a href="/delete_moots_request/<%=a_thing.id%>">delete</a>
      </td>      
      </tr>
      <% end %>
    </table>
<hr>
