<img src= "<%= @current_user.user_profile_pic %>" class="pfp_other">
<div>
  <div>
       <h1>
      my closet
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
 <a href="/add_clothing">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
</svg>
    </a>
    
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          fit
        </th>

        <th>
          description
        </th>

        <th>
          Created at
        </th>

        <th>
        </th>
              </tr>

      <% @my_fits.each do |a_my_closet| %>
      <tr>
       
        <td>
          <img src = "<%= a_my_closet.clothing %>" class="img-responsive">
        </td>

        <td>
          <%= a_my_closet.caption %>
        </td>

        <td>
          <%= time_ago_in_words(a_my_closet.created_at) %> ago
        </td>

        <td>
          <a href="/my_closets/<%= a_my_closet.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>




<h3>pending follow requests</h3>
    <table border="1">
      <tr>
        <th>
          username
        </th>

        <th>
          description
        </th>

        <th colspan ="2">
          
              </tr>

      <% @mutualr.each do |a_thing| %>
      <tr>
      <td>
        <%= a_thing.sender.username %></a>
      </td>

      <td>
          <img src = "<%= a_thing.sender.user_profile_pic %>" class="img-responsive">
      </td>
      <td>
      <form action ="/modify_moots_request/<%= a_thing.id%>" method = "post">
      <input id="query_recepient_id" type= "hidden" value=<%=a_thing.recipient_id%> name="query_recipient_id">
      <input id="query_sender_id" type= "hidden" value=<%=a_thing.sender_id%> name="query_sender_id">
         <button>accept</button>
        </form> 
      </td>
      
      <td> <button>
      <a href="/delete_moots_request/<%=a_thing.id%>">delete</a> </button>
      </td>      
      </tr>
      <% end %>
    </table>
   
<hr>
