<div>
  <div>

  </div>
</div>
<h3>
<div>
  <div>
 <a href="/add_clothing">
<button type="button" class=".btn-outline-*">fit check?</button>
    
    </a>
    
  </div>
</div></h3>
      <div clss = "banner">
      <% @timely_fits.each do |a_fit| %>
      
      

      <table border="1">

      
      <tr>

      <% if MootsRequest.where(:sender_id => @current_user.id).where(:recipient_id=>a_fit.user_id).where(:status=>true).first != nil%>    
       
        
        <td class = "table_sizer" >
          <%= a_fit.caption %>
        </td>
        
        <td>
          <a href="/my_closets/<%= a_fit.id %>">
          <img src= "<%= a_fit.user.user_profile_pic%>" class = "pfp" >
        </td>
         <% if session.fetch(:user_id) == a_fit.user_id %>
        <td>
        <a href="/myfits">
          <%=a_fit.user.username%></a>
        </td>
        <%else%>
        <td class= "table_sizer">
          <a href="/profile/<%= a_fit.user_id %>">
          <%=a_fit.user.username%>
          </a>
        </td>
        <%end%>
        <% else %>
        
        <%end%>

        </tr>
        <% end %>
      
    </table>
</div>
<hr>
