<div>
  <div>
    <h1>
      List of all fit checks
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new fit check
    </h2>

    <form action="/insert_fit_check" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="my_closet_id_box">
          My closet
        </label>

        <input type="text" id="my_closet_id_box" name="query_my_closet_id">
      </div>

      <button>
        Create fit check
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          My closet
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_fit_checks.each do |a_fit_check| %>
      <tr>
        <td>
          <%= a_fit_check.id %>
        </td>

        <td>
          <%= a_fit_check.user_id %>
        </td>

        <td>
          <%= a_fit_check.my_closet_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_fit_check.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_fit_check.updated_at) %> ago
        </td>

        <td>
          <a href="/fit_checks/<%= a_fit_check.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
