<div>
  <div>
    <h1>
      <%=@profile_owner.username%>
    </h1>
    <img src= "<%= @current_user.user_profile_pic %>" class="img-responsive">
  </div>
</div>

<hr>

<div>
  <div>
 <a href="/add_photo">
    <i class="fa-thin fa-plus" alt="Add a new fit"> </i>
 

      <button>
        add a new fit</button>
    </a>
    
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>


        <th>
          Caption
        </th>

        <th>
          Image
        </th>


        <th>
          Location
        </th>

        <th>
          Likes count
        </th>

        <th>
          Comments count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @my_photos.each do |a_photo| %>
      <tr>
        <td>
          <%= a_photo.caption %>
        </td>

        <td>
          <img src= "<%= a_photo.image %>" class="img-responsive">
        </td>

        <td>
          <%= a_photo.location %>
        </td>

        <td>
          <%= a_photo.likes_count %>
        </td>

        <td>
          <%= a_photo.comments_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_photo.updated_at) %> ago
        </td>

        <td>
          <a href="/profile/<%= a_photo.owner_id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
